body {
    background-color: black;
    width: 90%;
    margin: 0 auto;
}

header {
    margin-top: 20px;
    display: flex;
    border-bottom: 5px solid white;
    color: white;
    margin-bottom: 40px;
}